.subtitle {
  font-size: 35px;
  line-height: 1.1;
  text-align: center;
}
@media screen and (min-width: 780px) {
  .subtitle {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .subtitle {
    font-family: Changa One;
    font-weight: 400;
    font-size: 39px;
    line-height: 1.12;
    color: #434343;
  }
}
